body{  

    max-width: 800px ;
    margin: auto;
    padding: 20px;
    background-color: rgb(9, 18, 56);
    color: rgb(231, 231, 237);
    font-family: Arial, sans-serif;

}
img{
    max-width: 100%;
    height: auto;
    max-width: 200px;
    left: 50%;
}