body{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: rgb(9, 18, 56);
    color: rgb(231, 231, 237);
    font-family: Arial, sans-serif;
}

footer{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(6, 100, 159);
    color: rgb(211, 207, 227);
}